:root {
  --c-dark-cyan: 185, 75%, 39%;
  --c-very-dark-desaturated-blue: 229, 23%, 23%;
  --c-dark-grayish-blue: 227, 10%, 46%;
  --c-dark-grey: 0, 0%, 59%;

  --c-primary: hsla(var(--c-very-dark-desaturated-blue),1);
  --c-secondary: hsla(var(--c-dark-grayish-blue),1);
  --c-page-background: hsla(var(--c-dark-cyan), 1);
}
